<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navigation">
    <ul class="nav">
      <li class="navli">
        <a class="navLink" routerLinkActive="active" routerLink="home">Home</a>
      </li>
      <li class="navli">
        <a class="navLink" routerLinkActive="active" routerLink="employees">List</a>
      </li>
      <li class="navli">
        <a class="navLink" routerLinkActive="active" routerLink="employees/create">Create</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

